<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Top 50 cryptos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Top 50 cryptos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item href="/tabs/tab1/{{data.id}}" *ngFor="let data of datacrypto" detail>
      <ion-thumbnail slot="start">
        <img src="https://dkhpfm5hits1w.cloudfront.net/{{data.n.toLowerCase()}}.png">
      </ion-thumbnail>
        <ion-label>
          <h3 ion-text color="primary">{{data.s}}</h3>
          <p>Nom : {{data.n}} </p>
          <p>Galaxy Score™ : {{data.gs}} </p>
        </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
