<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
        <center><img style="margin-top: 250px" src="https://uploads-ssl.webflow.com/60c87f02fbe07344e7bb8b36/60ca2e7a992b1b3f334a082a_Logo_White-p-500.png" alt=""></center>
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3>Napoleon Group</h3>
          <h5>Make the right call.</h5>

        </div>

        <ion-button style="margin-top: 250px" expand="full" color="medium" href="https://www.napoleon-group.com">Our website</ion-button>
        <ion-button expand="full" color="dark" href="https://twitter.com/napoleon_group?lang=fr">@Napoleon_Group on Twitter</ion-button>

      </div>
    </div>
</ion-content>

</ion-content>
